.gamePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.gameOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.gameScore p {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}

.gameButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 35rem;
  height: 4rem;
}

.gameButtons button {
  font-size: 18px;
  color: white;
  background-color: transparent;

  height: 2rem;
  border: solid white 1px;
  border-radius: 6px;
  padding: 0 0.4rem;

  cursor: pointer;
}

.gameButtons button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.gameButtons div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.gameBoard {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.holeItem {
  flex-basis: 33.3%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.holeItem img {
  margin: 0;
  padding: 0;
  width: 50%;
}
