.gamePage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.gameOptions {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 200px;
  gap: 1rem;
}

.gameBoard {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.holeItem {
  flex-basis: 33.3%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.holeItem img {
  margin: 0;
  padding: 0;
  width: 50%;
}
