@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto";
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: whitesmoke;
  background-color: #5a635e;
}
